@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-li{
  @apply text-white cursor-pointer hover:text-brand-red;
}

.btn{
  @apply rounded-3xl bg-brand-red text-white py-3 px-8;
}

.productBtn{
  @apply text-white rounded-lg py-3 px-4 self-center w-full mt-3 flex items-center gap-2 justify-center duration-300;
}

.sideBarOpen{
  @apply h-screen bg-white fixed z-50 right-0 gap-6 flex flex-col overflow-hidden w-full xl:w-1/4 px-4
}

.sideBarClosed{
  @apply h-screen bg-white fixed z-50 right-0 gap-6 flex flex-col overflow-hidden w-0
}

.miniNavbarOpen{
  @apply bg-black z-50 absolute flex flex-col gap-8 font-bold text-sm p-4 w-full
}

.miniNavbarClosed{
  @apply bg-black z-50 relative flex-col gap-8 font-bold text-sm p-4 hidden
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mini-headline{
  font-family: "Barlow",cursive;
}
html,body{
  font-family: "Roboto" sans-serif;
}
a{
  font-family: "Barlow";
  font-weight: 700
}
.social-icon{
  @apply rounded-full mx-1 p-3 text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
